#containerPlanets {
    height: 400px;
    overflow-y: auto; /* Permite el scroll vertical */
    padding-bottom: 10px;
  }
  
  .favoriteBtn {
      background-color: transparent; /* Fondo transparente */
      border: none; /* Sin borde para el botón */
      padding: 5px; /* Un poco de espacio alrededor del icono */
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer; /* Cambiar cursor cuando se pasa sobre el botón */
    }
    
    .favoriteBtn svg {
      font-size: 1.5rem; /* Tamaño del icono */
      transition: all 0.3s ease; /* Transición suave */
    }
  
    .zoomImage {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: transform 0.3s ease; /* Transición suave */
    }
    
    .imageContainer {
      width: 100%;
      height: 200px;
      overflow: hidden;
      position: relative;
    }
    
    .imageContainer:hover .zoomImage {
      transform: scale(1.1); /* Acercamiento de la imagen */
    }
    
    #containerPlanets {
      max-height: 500px; /* Ajusta la altura según tus necesidades */
      overflow-y: auto; /* Permite el scroll vertical */
      padding-bottom: 10px;
    }
    
    .scrollablePlanets {
      display: flex;
      flex-direction: column;
      gap: 20px; /* Espacio entre las cards */
    }
    
    
  
  
    
    